h1 {
  text-align: center;
  width: 100%;
  font-weight: bolder;
}

.businessSearch th {
  text-align: left;
  padding: 8px;
  font-weight: 700;
  color: whitesmoke;
  background-color: #007bff;
}

.businessSearch td {
  text-align: left;
  padding: 8px;
  font-weight: 700;
}

*.t1 {
  max-height: 800px;
  max-width: 1600px;
  overflow-y: scroll;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;

  border: 1px solid #ddd;
}
